{% extends 'base.html' %}

{% block content %}
<head><link rel="stylesheet" type="text/css" href="../static/styles/deposit.css"></head>
<h1>Deposit</h1>
{% if user %}
<p>Welcome, {{ user.username }}!</p>
{% endif %}

<form method="POST">
    <label for="account_id">Account ID:</label>
    <input type="text" id="account_id" name="account_id" required><br>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" step="0.01" min="0" required><br>
    <input type="submit" value="Deposit">
</form>
{% endblock %}